<div class="bg-dark fixed-bottom" style="width:fit-content;height:fit-content;padding:12px">
    <div class="card-body">
        <!-- waves-effect waves-light-->
        <i type="button" id="console_button" class="fas fa-asterisk font-24 fixed-bottom" data-target="#console" data-toggle="collapse"
        aria-controls="console" aria-expanded = "true" style="padding:20px"></i>
        <div>
        <div id="console" class="collapse bg-dark" style="color:white; height:500px; overflow-y:auto; overflow-x:hidden; transform:rotate(180deg); direction: rtl;">
            <pre id="console_text" style="color:white; transform:rotate(180deg)"></pre>
            <!-- overflow-y:auto;overflow-x:hidden;overflow-anchor: none; -->
        </div>
    </div>
    </div>
</div>
<script src="../dist/js/pages/console/log_console.js"></script>
<script>
</script>